#clock-wrapper {
  height: 1fr;
  align: center middle;
}

#clock {
  width: auto;
  height: auto;
  align-horizontal: center;
}

#cycle_name {
  width: auto;
  text-align: center;
}

#time {
  width: auto;
  text-align: center;
}

#progress {
  width: auto;
  text-align: center;
}
